* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #ddd;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.tabla {
	background-color: #fff;
	border-radius: 10px;
	width: 400px;
}
.tabla .cabecera {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #06c;
	padding: 20px;
	border-radius: 10px 10px 3px 3px;
}
.tabla .cabecera .titulo {
	color: #fff;
}
.tabla .producto {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	font-size: 1.4rem;
	color: #222;
}