* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #ddd;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.resultado {
	font-size: 4.5vw;
	color: #222;
}
.btn-back {
	position: absolute;
	top: 20px;
	left: 20px;
	height: 50px;
	width: 50px;
	margin: 0 auto;
	background-color: #a00;
	border: none;
	font-size: 1.4rem;
	color: #fff;
	font-weight: 500;
	border-radius: 4px;
	transition: all 180ms linear;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}
.btn-back:hover {
	background-color: #d00;
	cursor: pointer;
}
.btn-back:active {
	background-color: #f00;
}